@media (max-width:1336px){

.header .title{
  font-size:35px;
}
.content{
  width: 90%;
}
.selection-personage{
  width: 50%;
}
.chosen-personage{
  margin: 3px;
}
.image{
  width: 100px;
}
#big-personage-1 , #big-personage-2{
  width: 20%;
  margin: 10px;
}
#image-player-1, #image-player-2{
  width: 90%;
  height: 90%;
}
#name-personage-1, #name-personage-2{
  font-size: 24px;
  text-align: center;
  padding: 5px;
}

}
@media (max-width:1050px){
  .image{
    width: 80px;
    margin: 1px;
    border-radius: 8px;
  }
  #big-personage-1 , #big-personage-2{
    width: 30%;
  }
  #image-player-1, #image-player-2{
    width: 100%;
    height: 100%;
  }
  #name-personage-1, #name-personage-2{
    font-size: 20px;
  }
}
@media (max-width:810px){
  .content{
    display: block;
  }
  .selection-personage{
    width: 100%;
  }
  .image{
    width: 80px;
    margin: .5px;
    border-radius: 8px;
  }
  #big-personage-1 , #big-personage-2{
    width: 100%;
    margin: auto;
  }
  #image-player-1, #image-player-2{
    width: 80%;
    height: 60%;
  }
  #name-personage-1, #name-personage-2{
    font-size: 20px;
  }
}